
*{
	padding: 0;
	margin:0;
}

body{
	background: url(8-85556_silver-mat-color.jpg) no-repeat center top;
  background-size: cover;

}


.container{
	height: 100%;
	width:100%;
	align-items: center;
	
	
	
}

h3{

	padding-top: 10px;
}



main{
	padding-top:2rem;
	z-index: 2;
	background: 
	flex-wrap:wrap;
	min-width: 250px;

}



h1{
	
	width: 100%;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;

	background: lightblue;
}

img{
	float-left;
	height:120px;
	width: 200px;
	
}

img.logo{
	float-left;
	height: 80px;
	width: 160px;
	margin-top: 10px;

	
}


.encabezado{
	background-color:#333;
	position: fixed;
	flex-wrap:wrap;
	min-width: 250px;
	z-index: 1;
	left: 0;
	right: 0;
	top:0;

}

.encabezado a{
	color:#CACFD2  ;
	text-decoration: none;
	font-size:1.5em;
	font-family:georgia,times,san serif;



}


.izquierda{
	background-color:#333;
	height: 550px;
}

.izquierda a{
     color:white;
	
	font-family: georgia,times,san serif;
	font-size: 18px;
}
.izquierda ul{

	list-style:none;

}


.izquierda ul li{
	margin-top:3px;

	word-spacing: 5px;
}


/*BOTONES*/

.btn{
	text-decoration: none;
	border-radius: 1px;
}

.btn-green{
	color:white;
	background-color:#95A5A6;
}

/* FIN BOTONES*/

.medio{
	height:550px;
	background: #333;
	margin:0;
	padding:0;
}

.medio iframe{
	
	height: 100%;
	width: 100%
	}



.derecha{
	position:relative;
	background: #333;
	height: 550px;

}

.nombres{

	width:100%;
	height: 10%;
	margin-top:0;
	background: lightblue;
}

.cuerpo{
	padding-top: 25%;
	position: relative;
	width: 100%;
	height: 70%;
	/*background: grey;*/



}

.cuerpo p{
	font-family: georgia,times,san-serif;
	font-size:15px;
	color: white;

}
.cuerpo p::first-letter{
	font-size: 20px;
	color:lightblue;
}

.comprar{
	position:relative;
	width: 100%;

	height:20%;
	
}
.comprar button{
	position:relative;
	background: lightgreen;
	height: 65%;
	bottom:0;
	width: 100%;
	
	
}
.comprar h2{

	font-family: georgia,times,san-serif;
	font-size:25px;
	color: white;
}




.logo-nav-container{
	display:flex;
	justify-content: space-between;
	align-items: center;



		}

		#navigation ul li a{
			display:block;
			
			transition:all 0.4s linear;
			border-radius:5px;

			

		}
		#navigation ul li a:hover {

			background: #999999;
		}



/*FOTTER*/
footer{
	width:100%;
	background: #333;
	color:white;
	height: 100%;
	margin-bottom: 5px;
	margin-top:10px;
	position:relative;

}

#imgfooter{
	height:40px;
	width: 35px;
	margin-right: 5px;

}


.piepag{
	margin:auto;
	display:flex;
	align-items:center;
	justify-content: space-between;
}

.columna1{
	max-width: 300px;

	
}

.columna1 h2{
	font-size:20px;
	margin-top:0;

}

.columna1 p{
	font-size:15px;
	color:white;
	margin-top:20px;
}

.columna2{
	margin-top: 10px;
	max-width: 200px;
	margin-right: 50px;
}

.columna2 h2{
	font-size:20px;

}

.columna2 a{
	color:white;
}
.columna2.row{
	margin-top: 20px;
	display:flex;
	margin-right: 10px;
}

.columna3 h2{
	font-size:20px;
	margin-right: 50px;
	margin-top: 0;
}


/* ORDENAMIENTO DE PRODUCTOS */

img.am{

  margin-top: 50px;
	width: 215px;
	height: 115px;


}

img.em{

  margin-top: 40px;
  width: 90%;

}




.carro{
float: left;
margin-left: 40px;
}

.carroMovil{
float: left;
margin-left: 10px;
}

.carroMovil a:visited {
  color:black;
  background-color: transparent;
  text-decoration: none;
}

.carroMovila{
float: left;
margin-top: 10px;
margin-left: 10px;
}



.carro a:visited {
  color:black;
  background-color: transparent;
  text-decoration: none;
}


figure {
width: 200px;
height: 200px;

}

figure.am {
width: 180px;
height: 180px;

}



figcaption {
  
  font-style: italic;
  padding: 2px;
  text-align: center;

}

figcaption.am {
  
  font-style: italic;
  padding: 2px;
  text-align: center;
  margin-top: 36px;
}

figcaption.em {
  
  font-style: italic;
  padding: 2px;
  text-align: center;
  margin-top: 26px;
}

a.nav-link{
	
	font-family: georgia,times,san serif;
	font-size: 25px;
}

a.nav-link:visited{
	color: white;
	font-family: georgia,times,san serif;
	font-size: 30px;
}


.nav-item a{
	color:white;
}



.navbar-nav{

background-color: black;


}
.formulariohoja {
  
  
  color: #17202A;
  
  
 
   
}
/* Termina */